/*-------------------------*/
/*--- Journal List Part ---*/
/*-------------------------*/
.journal-list-section {
  min-height: 85vh;
  padding: 2rem 0rem;
}

.journal-year-wrapper {
  margin: 4rem 0rem 2rem 0rem;

  & p {
    font-size: 1.6rem;
    font-weight: 300;
  }
}

.journal-link-wrapper {
  & p {
    font-size: 1.6rem;
    font-weight: 300;
  }

  & a:hover {
      text-decoration: underline;
  }
}