/*--- Global Settings ---*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  margin: 0rem 5rem;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  max-width: 108rem;
  margin: auto;
}

h1 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: black;
}

nav ul {
  font-size: 1.6rem;
  list-style: none;
}

img {
  pointer-events: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #222222;
}

::selection {
  color: white;
  background: #222222;
}

/*--- Header Settings ---*/
nav {
  min-height: 10vh;
  padding: 1rem 0rem;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-logo-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-logo-wrapper a img {
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.nav-logo-wrapper a:hover img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-link-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-link-wrapper ul li {
  width: 5rem;
  text-align: center;
  margin: 0rem 1.6rem;
}

#menuToggle {
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 2rem;
  height: 0.2rem;
  margin: 0.5rem 0rem;
  position: relative;
  background: #222222;
  border-radius: 1rem;
  z-index: 1;
  -webkit-transform-origin: 0rem 0px;
          transform-origin: 0rem 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -0.3px);
          transform: rotate(-45deg) translate(0, -0.3px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  top: -0.5rem;
  right: 5rem;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(0, -8vh);
          transform: translate(0, -8vh);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  font-size: 1.7rem;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
  top: -0.5rem;
}

/*--- Footer Settings ---*/
footer {
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  font-size: 1.2rem;
}

.profile-section {
  min-height: 85vh;
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-description-wrapper {
  margin-top: -5vh;
  max-width: 96.8rem;
}

.profile-description-wrapper h3 {
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

.profile-description-wrapper p {
  font-size: 1.7rem;
  line-height: 2.8rem;
  margin-bottom: 1.2rem;
}

.social-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.social-link-wrapper a {
  margin-right: 1.7rem;
  text-decoration: underline;
  font-size: 1.7rem;
}

.blogtools-section {
  min-height: 85vh;
  padding: 2rem 0rem;
}

/*--- Wrapper General ---*/
.list-row-wrapper {
  margin: 1.8rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

/*--- Search Bar ---*/
#search-row-wrapper {
  margin-top: 1.8rem;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#search-bar {
  padding: 1rem;
  width: 50rem;
  border: 1px solid #979797;
}

#search-bar::-webkit-input-placeholder {
  font-size: 1.6rem;
  font-weight: 300;
}

#search-bar:-ms-input-placeholder {
  font-size: 1.6rem;
  font-weight: 300;
}

#search-bar::-ms-input-placeholder {
  font-size: 1.6rem;
  font-weight: 300;
}

#search-bar::placeholder {
  font-size: 1.6rem;
  font-weight: 300;
}

input[type="text"] {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

/*--- Blog List ---*/
.list-left-wrapper,
#search-blank-wrapper {
  width: 15rem;
}

.list-left-wrapper p,
#search-blank-wrapper p {
  font-size: 1.8rem;
}

.list-right-wrapper,
#search-bar-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.list-right-wrapper h2,
#search-bar-wrapper h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.list-right-wrapper h2:hover,
#search-bar-wrapper h2:hover {
  text-decoration: underline;
}

/*--- Journal CalendarPage ---*/
.journal-calendar-section {
  min-height: 85vh;
  padding: 2rem 0rem;
}

.month-block-wrapper {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}

.month-wrapper {
  margin-bottom: 1rem;
}

.month-text {
  font-size: 1.8rem;
}

.date-text {
  margin-right: 1.1rem;
  font-size: 1.7rem;
  line-height: 1.5;
}

.date-text:hover {
  text-decoration: underline;
}

/*--- Journal Post ---*/
.journal-section {
  min-height: 85vh;
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.journal-wrapper {
  margin-top: 2rem;
  max-width: 96.8rem;
}

.journal-wrapper .journal-date {
  margin-top: 2rem;
  text-align: right;
}

.journal-wrapper p {
  font-size: 1.6rem;
  line-height: 2;
  margin-bottom: 1.2rem;
}
/*# sourceMappingURL=style.css.map */