/*--- Global Settings ---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  margin: 0rem 5rem;
}

body {
  font-family: "Noto Serif TC", serif;
  font-weight: 400;
  max-width: 108rem;
  margin: auto;
}

h1 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: black;
}

img {
  pointer-events: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #222222;
}

::selection {
  color: white;
  background: #222222;
}

/*--- Header Settings ---*/
nav {
  min-height: 12vh;
  padding: 1rem 0rem;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul {
  font-size: 1.6rem;
  list-style: none;
}

#nav-link-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-link-wrapper ul li {
  width: 5rem;
  text-align: right;
  margin: 0rem 0rem 0rem 1.4rem;
}
#nav-link-wrapper ul li a {
  font-size: 1.6rem;
  font-weight: 400;
  transition: color 0.3s ease;
}

.nav-link-current {
  padding-top: 0.3rem;
  border-width: 0.1rem 0rem 0rem 0rem;
  border-color: #222222;
  border-style: solid;
}

/*--- Footer Settings ---*/
footer {
  min-height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  font-size: 1rem;
}

#home-section {
  min-height: 85vh;
  padding: 0rem 0rem 5vh 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#home-image-wrapper img {
  height: 60rem;
}

#home-description-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#home-description-wrapper div {
  height: 60rem;
}
#home-description-wrapper div #home-description {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  line-height: 3.2rem;
}
#home-description-wrapper div #home-date {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  margin: 43.6rem 2rem 0rem 0.5rem;
}

/*-------------------------*/
/*--- Workbox Lisr Part ---*/
/*-------------------------*/
.workbox-list-section {
  min-height: 85vh;
  padding: 2rem 0rem;
}

/*--- Wrapper General ---*/
.list-row-wrapper {
  margin: 1.8rem 0rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

/*--- Search Bar ---*/
#search-row-wrapper {
  margin-top: 1.8rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

#search-bar {
  padding: 0.6rem 1rem;
  width: 35rem;
  border: 0.1rem solid #2c2c2c;
}
#search-bar::-moz-placeholder {
  font-size: 1.4rem;
  font-weight: 300;
}
#search-bar:-ms-input-placeholder {
  font-size: 1.4rem;
  font-weight: 300;
}
#search-bar::placeholder {
  font-size: 1.4rem;
  font-weight: 300;
}

input[type=text] {
  font-size: 1.4rem;
}

/*--- Work List ---*/
.list-left-wrapper,
#search-blank-wrapper {
  width: 15rem;
}
.list-left-wrapper p,
#search-blank-wrapper p {
  font-size: 1.7rem;
}

.list-right-wrapper,
#search-bar-wrapper {
  flex-grow: 1;
}
.list-right-wrapper h2,
#search-bar-wrapper h2 {
  font-size: 1.7rem;
  font-weight: 400;
}
.list-right-wrapper h2 a:hover,
#search-bar-wrapper h2 a:hover {
  text-decoration: underline;
}

/*-------------------------------*/
/*--- Individual Workbox Part ---*/
/*-------------------------------*/
.workbox-section {
  min-height: 90vh;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
}

.workbox-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: start;
}
.workbox-title-wrapper h1 {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.6rem;
  margin: -8rem 0rem 0rem 0rem;
}
.workbox-title-wrapper p {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  margin: 8rem 0.5rem 0rem 0rem;
}

.workbox-img-wrapper img {
  width: 82rem;
}

.workbox-link-wrapper {
  align-self: end;
}
.workbox-link-wrapper p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 2.8rem;
}
.workbox-link-wrapper a:hover p {
  text-decoration: underline;
}

.workbox-scroller-wrapper {
  position: absolute;
  top: 95%;
}
.workbox-scroller-wrapper img {
  width: 2.4rem;
}
.workbox-scroller-wrapper a div {
  transition: transform 0.4s ease-in-out;
}
.workbox-scroller-wrapper a:hover div {
  transform: translateY(0.8rem);
}

.workbox-description-section {
  min-height: 40vh;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.workbox-description-section div {
  position: relative;
  width: 82rem;
  text-align: center;
}
.workbox-description-section div p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.6rem;
}
.workbox-description-section div img {
  position: absolute;
  width: 2rem;
}
.workbox-description-section div .left-quote {
  top: -2.2rem;
  left: -2.2rem;
}
.workbox-description-section div .right-quote {
  top: -2.2rem;
  right: -2.2rem;
}

/*-------------------------*/
/*--- Journal List Part ---*/
/*-------------------------*/
.journal-list-section {
  min-height: 85vh;
  padding: 2rem 0rem;
}

.journal-year-wrapper {
  margin: 4rem 0rem 2rem 0rem;
}
.journal-year-wrapper p {
  font-size: 1.6rem;
  font-weight: 300;
}

.journal-link-wrapper p {
  font-size: 1.6rem;
  font-weight: 300;
}
.journal-link-wrapper a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */