.workbox-list-section {
  min-height: 85vh;
  padding: 2rem 0rem;
}

/*--- Wrapper General ---*/
.list-row-wrapper {
  margin: 1.8rem 0rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

/*--- Search Bar ---*/
#search-row-wrapper {
  margin-top: 1.8rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

#search-bar {
  padding: 0.6rem 1rem;
  width: 35rem;
  border: 1px solid #2c2c2c;

  &::placeholder {
    font-size: 1.4rem;
    font-weight: 300;
  }
}

input[type="text"] {
  font-size: 1.4rem;
}

/*--- Work List ---*/
.list-left-wrapper,
#search-blank-wrapper {
  width: 15rem;
  p {
    font-size: 1.7rem;
  }
}

.list-right-wrapper,
#search-bar-wrapper {
  flex-grow: 1;
  h2 {
    font-size: 1.7rem;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }
}
