/*--- Global Settings ---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  margin: 0rem 5rem;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  max-width: 108rem;
  // padding: 0rem 5rem;
  margin: auto;
  // position: relative;
  // overflow-x: hidden;
}

h1 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: black;
}

nav ul {
  font-size: 1.6rem;
  list-style: none;
}

img {
  pointer-events: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #222222;
}

::selection {
  color: white;
  background: #222222;
}

/*--- Header Settings ---*/
nav {
  min-height: 10vh;
  padding: 1rem 0rem;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-logo-wrapper {
  flex-grow: 1;
  display: flex;
  & h1 {
    font-family: "Fredericka the Great", cursive;
    font-size: 2.6rem;
    & a {
      color: #2c2c2c;
    }
  }
}

.nav-link-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    margin: 0rem 1.6rem;
  }
}

#menuToggle {
  // display: block;
  position: relative;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 2rem;
  height: 0.2rem;
  margin: 0.5rem 0rem;
  position: relative;

  background: #222222;
  border-radius: 1rem;
  z-index: 1;

  transform-origin: 0rem 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -0.3px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  top: -0.5rem;
  right: 5rem;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(0, -8vh);
  transition: transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1);
  & li {
    font-size: 1.7rem;
  }
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
  top: -0.5rem;
}

/*--- Footer Settings ---*/
footer {
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.2rem;
  }
}
