/*--- Global Settings ---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  margin: 0rem 5rem;
}

body {
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
  max-width: 108rem;
  margin: auto;
}

h1 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: black;
}

img {
  pointer-events: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #222222;
}

::selection {
  color: white;
  background: #222222;
}

/*--- Header Settings ---*/
nav {
  min-height: 12vh;
  padding: 1rem 0rem;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  & ul {
    font-size: 1.6rem;
    list-style: none;
  }
}

#nav-link-wrapper {
  & ul {
    display: flex;
    align-items: center;
    justify-content: center;

    & li {
      width: 5rem;
      text-align: right;
      margin: 0rem 0rem 0rem 1.4rem;

      & a {
        font-size: 1.6rem;
        font-weight: 400;

        &:hover {
          color: #444444;
        }
      }
    }
  }
}

//TODO: Maybe add a cool hover effect here
.nav-link-current {
  padding-top: 0.3rem;
  border-width: 0.1rem 0rem 0rem 0rem;
  border-color: #222222;
  border-style: solid;
}

/*--- Footer Settings ---*/
footer {
  min-height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1rem;
  }
}